body{
    background: #f4f6f9;
}

.card{
    border-radius: 15px;
}

.btn{
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
}

table{
    background: white;
}

.profile-img{
    border-radius: 50%;
    object-fit: cover;
}